

body {
 background-color: #f0f8ff; 
font-family: Arial, sans-serif;
margin: 20px;
}

h1 {
color: #2e8b57; 
text-align: center;
}

p {

  font-size: 18px;
  text-align: justify;
  margin: 20px;
}

ul li {
  margin-bottom: 10px;
  font-size: 18px;
}


img {
width: 300px;
height: auto;
border-radius: 12px;
display: block;
margin: 20px auto;
}

table {
width: 80%;
margin: 0 auto;
border-collapse: collapse;
background-color: #ffffff;
}

table td {
padding: 5px;
text-align: center;
border: 2px solid #ccc;
}

table img {
width: 200px;
height: auto;
border-radius: 5px;
}

a {
display: block;
text-align: center;
font-size: 18px;
color: #1e90ff;
text-decoration: none;
margin-top: 30px;
}

a:hover {
color: #ff4500;
}




